<div class="parent">
	<div id="banner">
	    <div id="text">
	        <a href="/">#SelfieAware</a>
	    </div>
	    <div class="DivHelper"></div>
	</div>
	<div id="about">
	    <div id="header">Algorithm:</div><br>
	    Selfie Aware uses facial recognition to find the number of selfies someone has taken recently. Then it takes into consideration the user's usage of hashtags, and the presence of other people in their pictures to calculate a selfiness score. The facial recognition algorithm consists of two parts: facial detection, which finds the faces in pictures and face clustering, which matches similar faces to isolate the instagram user's selfies. These features were implemented using the <a href="https://rekognition.com/">ReKognition API.</a> The selfiness score algorithm was created and implemented by us.

	    <br><br>

	    <div id="header">Development:</div><br>
	    Selfie Aware was developed in 36 hours by Louis Williams, Hunter Rosenblume, Chris Altonji, and Sidney Durant at <a href="http://www.lahacks.com/">LA Hacks</a> 2014, the west coast's biggest hackathon of the year. The <a href="https://rekognition.com/">ReKognition API</a> was used to perform facial recognition, and the <a href="http://instagram.com/developer/">Instagram API</a> was used to integrate Instagram. Special thanks to <a href="https://www.digitalocean.com/">Digital Ocean</a> for the web servers.
	</div>
</div>
