/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require_self
 */

@font-face {
  font-family: 'lobster';
  src: url('lobster.otf');
  src: local('☺'), url('lobster.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-thin';
  src: url('Roboto-Thin.ttf');
  src: local('☺'), url('Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color:#49c3fb;
  padding-bottom:3%;
}

a:hover {
  text-decoration: none;
}

.title {
  padding-top: 110px;
  font-family: "lobster";
  font-size: 10em;
  color: #fdfdfd;
  text-align: center;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FDFDFD;
  padding-bottom: 5px;
  display: table;
  margin: 0 auto;
  visibility: hidden;
}

.wrap {
  margin-top: 5%; 
}

.parent {
  margin-top:3%;
  overflow-x: hidden;
}

.label:hover {
    text-decoration: none;
    background: #eee;
}

.child_blue {
  clear: both;
  background-color:#49c3fb;
}

.child_white {
  clear: both;
  background-color: #FDFDFD;
  padding-top: 8em;
  padding-bottom: 8em;
}

#tri1 {
  margin-top:5%;
  text-align: center;
  font-size: 2em;
  font-family: "roboto-thin";
  text-align: center;
  color: #48C3FB;
}

#tri2 {
  margin-top:11%;
  text-align: center;
  font-size: 2em;
  font-family: "roboto-thin";
  text-align: center;
  color: #48C3FB;
}

#tri3 {
  margin-top:13%;
  text-align: center;
  font-size: 2em;
  font-family: "roboto-thin";
  text-align: center;
  color: #48C3FB;
}

#window {
  width:500px;
  height:500px;
}

#logo3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tagline {
  font-size: 2em;
  font-family: "roboto-thin";
  text-align: center;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-bottom: 110px;
}

.label-primary:hover{
  background-color: #7DD6FF;
}

.label-primary:active {
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
}

.label-primary {
  margin-bottom: 10px;
  font-size: 2em;
  font-family: "roboto-thin";
  background-color: #49c3fb;
  color: #fdfdfd;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  cursor: pointer;
}
/* Responsive Design */ 
@media all and (max-width: 956px) {
  .title {
    font-size: 8em;
  }
  #logo {
    width:30%;
  }
}

@media all and (max-width: 630px) {
  .title {
    font-size: 6em;
  }
  .label-primary {
    font-size: 1em;
  }
  #logo {
    width:60%;
  }
  #logo1 {
    width:35%;
    height:35%;
  }
  #logo2 {
    width:33%;
    height:33%;
  }
  #logo3 {
    width:30%;
    height:30%;
  }
  .label-primary {
    font-size: 2em;
    height:100%;
    width:50%;
    word-wrap:break-word;
     white-space: normal;
  }
  .child_white {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}

@media all and (max-width: 460px) {
  .title {
    font-size: 4em;
  }
  #logo {
    width:60%;
  }
  .arrow-down {
    visibility: visible;
  }
}

@media all and (max-width: 993px) {
  #logo1 {
    width:35%;
    height:35%;
  }
  #logo2 {
    width:33%;
    height:33%;
  }
  #logo3 {
    width:30%;
    height:30%;
  }
}
.search_result{
  margin: 10px;
}
.search_result img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.search_result span {
  padding-left: 10px;
}

/*
@media all and (max-width: 770px) {
  #cycles {
    display:none;
  }
}