/*
 *= require bootstrap
 *= require bootstrap-theme
 *= require_self
 */

@font-face {
  font-family: 'lobster';
  src: url('lobster.otf');
  src: local('☺'), url('lobster.otf') format('OpenType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-thin';
  src: url('Roboto-Thin.ttf');
  src: local('☺'), url('Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-medium';
  src: url('Roboto-Medium.ttf');
  src: local('☺'), url('Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color:#fdfdfd;
  padding-bottom:3%;
}

.fb-share-button {

}


.facebook{
background: url("/assets/images/facebook_normal.png") no-repeat;
display:block;
width: WIDTH OF IMAGE;
height: HEIGHT OF IMAGE;
text-indent: -999em;
}
.facebook:hover{
background-image: url("/assets/images/facebook_hover.png");
}

#status_bar {
  height:45px;
  text-align: right;
}

#status_bar a{
  margin-right: 5px;
  margin-top: 5px;
}

#name {
	font-family: "roboto-thin";
	font-size: 4em;
	color: #333;
	text-align: center;
}

#username {
  margin-bottom:10px;
	font-family: "lobster";
	font-size: 2em;
	color: #49c3fb;
	text-align: center;
}

#slideshow {
	width: 30%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#image_wrap {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#image_overlay {
  position: absolute;
  top: 55px;
  background: rgba(0,0,0,0.7);
  width: 150px;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
  left: 0px;
  text-align: center;
  color: #fff;
}

#propic {
  display: block;
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

#calculation_results {
  display: none;
  width: 220px;
  height: 60px;
  font-size: 16pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 25px;
  text-align: center;
}

#search_results {
	width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
}

.search_result{
  margin: 10px;
  height: 60px;
}

.search_result img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left;
  margin-right: 10px;
}

.search_result div {
  padding-left: 10px;
  white-space: nowrap;
}

#user_search {
  width: 250px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    padding: 7px;
    border: 1px solid #ddd;
}

#follows{
  width: 250px;
  max-height: 600px;
  overflow: scroll;
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
}

@media all and (max-width: 460px) {
	#search_result {
		width: 100%;
	}
}