<!DOCTYPE html>
<html>
<head>
  <title>Raise Selfie Awareness now!</title>
  <%= stylesheet_link_tag    "about", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CONTENT">
    <meta name="author" content="Hunter Rosenblume, Louis Williams, Chris Altonji, Sidney Durant">
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <title>#SelfieAware: Save yourself from the Selfie Nation.</title>
</head>
<body>

<%= yield %>

</body>
</html>
